<form asp-action="LoginUser" asp-controller="Home" method="POST">
    <input name="user" type="text" class="form-control" /><br/>
    <input name="pass" type="password" class="form-control" /><br/>
    <input value="Login" type="submit" class="form-control" />
</form>